<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
        <link rel="stylesheet" href="__STATIC__/admin/css/xadmin.css">
        <script src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__STATIC__/admin/js/xadmin.js"></script>
    </head>
    <body layadmin-themealias="default">
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a href="">首页</a>
              <a href="">设置</a>
              <a>
                <cite>系统基本设置</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
              <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
          </div>
        <div class="layui-fluid">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">网站设置</div>
                <div class="layui-card-body" pad15="">   
                  <div class="layui-form" wid100="" lay-filter="">
                    <div class="layui-form-item">
                      <label class="layui-form-label">网站名称</label>
                      <div class="layui-input-block">
                        <input type="text" name="title" value="{$info.title}" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">注册码</label>
                      <div class="layui-input-block">
                        <input type="text" name="tion" value="{$info.tion}" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">IP最大注册数</label>
                      <div class="layui-input-inline" style="width: 80px;">
                        <input type="text" name="ipmember" lay-verify="number|maxnum" value="{$info.ipmember}" class="layui-input">
                      </div>
                      <div class="layui-input-inline layui-input-company">个</div>
                      <div class="layui-form-mid layui-word-aux">最小设置为2个</div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                      <label class="layui-form-label">META关键词</label>
                      <div class="layui-input-block">
                        <textarea name="metakey" class="layui-textarea" placeholder="多个关键词用英文状态 , 号分割">{$info.metakey}</textarea>
                      </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                      <label class="layui-form-label">META描述</label>
                      <div class="layui-input-block">
                        <textarea name="metadescript" class="layui-textarea">{$info.metadescript}</textarea>
                      </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                      <label class="layui-form-label">版权信息</label>
                      <div class="layui-input-block">
                        <textarea name="copyright" class="layui-textarea">{$info.copyright}</textarea>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="save">确认保存</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      <style id="LAY_layadmin_theme">.layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child{background-color:#20222A !important;}.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#009688 !important;}.layui-layout-admin .layui-logo{background-color:#20222A !important;}</style>
    </body>
    <script>
    layui.use(['laydate', 'form','layer'],
        function() {
            var laydate = layui.laydate
            ,form = layui.form
            ,layer = layui.layer;

             //创建自定义规则 
             form.verify({
                maxnum: function (value) {
                    if (value < 2) {
                        return '数值不得小于2';
                    }
                },
            });
            
            form.on('submit(save)',
            function (data) {
              $.ajax({
                url:"{:url('seting/setData')}",
                type:"POST",
                data:data.field,
                dataType:"JSON",
                success:function(res){
                  layer.msg(res.info);
                }
              })
            });

        });

    
</script>

</html>