{include file="public/seo"}

<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
    <div class="mdui-container-fluid" style="padding: 0;">
        <div class="mdui-toolbar mdui-color-theme mdui-shadow-5">
            <a href="javascript:history.go(-1);" class="mdui-btn mdui-btn-icon"><i
                    class="mdui-icon material-icons">&#xe5c4;</i></a>
            <span class="mdui-typo-title">{$app.title}—添加</span>
        </div>

        <div class="card">
            <form method="POST" id="secret">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">秘语</label>
                    <textarea class="mdui-textfield-input" name="content" id="info"></textarea>
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <a href="javascript:;" class="file">选择图片
                            <input type="file" id="imgInput">
                    </a>
                    <input type="hidden" name="img" class="img">
                    <p style="margin-top: 5px;"><img id="img" src="__STATIC__/admin/images/emptyimg.png" height="100px"></p>
                </div>
                <hr class="layui-bg-blue">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-switch">分享到秘语花园：
                            <input type="checkbox" name="garden" id="garden" />
                            <i class="mdui-switch-icon"></i>
                    </label>
                </div>
            </form>
            <div class="mdui-col">
                    <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple" id="tj">提交</button>
            </div>
        </div>
        <script>
            function info(content){  //提示
                mdui.snackbar({
                    message: content,
                    buttonText: '确定'
                }); 
            }
            $("#imgInput").change(function(){ //上传文件
                var file = this.files[0];
                size = file.size;
                type = file.type;
                url = window.URL.createObjectURL(file);
                if(type=='image/jpeg'||type=='image/png'||type=='image/jpg'||type=='image/gif'){
                  if(size > 2048*1024 ){
                    layer.msg('图片不能大于2M');    
                  }else{
                    var formData = new FormData();
                    formData.append("img", $(this).get(0).files[0]);
                    console.log(file);
                    var index = layer.load(2, {shade: [0.1,'#000']});
                    $.ajax({
                        url:'{:url("secret/img")}',
                        type:'POST',
                        data:formData,
                        cache: false,
                        contentType: false,    //不可缺
                        processData: false,    //不可缺
                        success:function(res){
                            if(res.code==1){
                              info(res.info.msg);
                              $('.img').val(res.info.path);
                              $("#img").attr("src",url);   
                            //   $('img').width('100%');
                            //   $('img').height('auto');
                              layer.close(index);  
                            }else{
                              info(res.info.msg);  
                            }
                        },
                        error:function(){
                            info('上传错误');
                        }

                    });
                  } 
                }else{
                  layer.msg('请选择正确的图片格式');  
                } 
            });

            $("#tj").click(function(){  //提交表单
                var content = $('#info').val();
                var img = $('.img').val();
                if(content.trim()==''){  
                    info('请填写完整'); 
                }else{
                  if($('#garden').is(':checked')){
                     $('#garden').val(1); 
                  }else{
                     $('#garden').val(0);
                  }
                  var data = $('#secret').serialize();
                  console.log(data);
                //   return false;
                  $.ajax({
                        url:'{:url("secret/get_add")}',
                        type:'POST',
                        data:data,
                        dataType:'JSON',
                        success:function(res){
                            if(res.status==1){
                              info(res.info);
                              setTimeout(function(){
                                window.location.href=document.referrer;
                              },1000)
                              
                            }else{
                              info(res.info);
                            }
                            
                        }
                  });
                }
                
            })
        </script>
    </div>