{include file="public/seo"}
<style>
    #my-tab{
        position: fixed;
        width: 100%;
        z-index: 1;
        background: #fff;
    }
    .by-list{
        margin-top: 7.5rem;
    }
</style>


<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">

    <div class="mdui-container-fluid" style="padding: 0;">

        <div id="tabbar" class="mdui-toolbar mdui-color-theme mdui-shadow-5">

            <a href="javascript:location.href='/index';" class="mdui-btn mdui-btn-icon"><i

                    class="mdui-icon material-icons">&#xe5c4;</i></a>

            <span class="mdui-typo-title">{$app.title}</span>

        </div>

        {if USER_ID neq -1}
        <div id="my-tab" class="mdui-tab mdui-tab-top mdui-tab-full-width" mdui-tab>

            <a href="#allsecret" class="mdui-ripple">秘语花园</a>

            <a href="#mesecret" class="mdui-ripple">我的秘语</a>

        </div>
        {/if}
        <div class="by-list" id="allsecret">

            <ul id="all">



            </ul>

        </div>
        {if USER_ID neq -1}
        <div class="by-list" id="mesecret">

            <ul id="me">



            </ul>

        </div>
        {/if}
        <button id="add" class="mdui-fab mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons"

                onclick="location.href='{:url('secret/add',['id'=>$app.id])}'">add</i></button>

        <button id="top" class="mdui-fab mdui-color-theme-accent mdui-ripple layui-anim-scale layui-anim" style="display:none;"><i class="mdui-icon material-icons">&#xe5ce;</i></button>

        <script>

            $(document).ready(function(){

                setInterval(function(){

                    var top = $(document).scrollTop();

                    if(top==0){

                        $('#top').hide();

                    }else{

                        $('#top').show();

                    }

                },100);



                $('#top').click(function(){

                    $('body,html').animate({scrollTop:0},1000);

                })

            })

            layui.use(['flow', 'util', 'layer'], function () {

                var flow = layui.flow

                    , util = layui.util

                    , layer = layui.layer;



                //我的秘语

                flow.load({

                    elem: '#me' //流加载容器

                    , isAuto: true     //自动加载  为true的时候是自动加载

                    , isLazyimg: false  //图片懒加载

                    , done: function (page, next) { //加载下一页

                        $.get(

                            "{:url('secret/get_data')}",

                            { page: page },

                            function (d) {

                                var lis = [];

                                layui.each(d.res, function (index, item) {  //遍历后台传过来的数据

                                    var img = '';

                                    if (item.img == '') {

                                        img = '<li class="mdui-shadow-5" onclick="location.href='+'\'{:url('secret/oper')}?id='+item.id+'&garden=0\'"><div><p>' + item.content + '</p><span><i class="mdui-icon material-icons">&#xe192;</i>' + util.timeAgo(item.time * 1000, true) + '</span>';

                                    } else {

                                        img = '<li class="mdui-shadow-5" onclick="location.href='+'\'{:url('secret/oper')}?id='+item.id+'&garden=0\'"><div class="ser-img" style="background:url(' + item.img + ');background-size:cover;background-position: center;"></div><div><p>' + item.content + '</p><span><i class="mdui-icon material-icons">&#xe192;</i>' + util.timeAgo(item.time * 1000, true) + '</span>';

                                    }

                                    lis.push(img);  //作为元素塞进数组lis中

                                });

                                next(lis.join(''), page < d.total_page);  //拼接成字符串

                            }

                        );

                    }

                });



                //秘语花园

                flow.load({

                    elem: '#all' //流加载容器

                    , isAuto: true     //自动加载  为true的时候是自动加载

                    , isLazyimg: false   //图片懒加载

                    , done: function (page, next) { //加载下一页

                        $.get(

                            "{:url('secret/get_garden')}",

                            { page: page },

                            function (i) {

                                var lis = [];

                                layui.each(i.res, function (index, itemm) {  //遍历后台传过来的数据

                                    var img = '';

                                    if (itemm.img == '') {

                                        img = '<li class="mdui-shadow-5" onclick="location.href='+'\'{:url('secret/oper')}?id='+itemm.id+'&garden=1\'"><div><p>' + itemm.content + '</p><span><i class="mdui-icon material-icons">&#xe853;</i>'+ itemm.nickname +'&nbsp;&nbsp;<i class="mdui-icon material-icons">&#xe192;</i>'+ util.timeAgo(itemm.time * 1000, true) + '</span>';

                                    } else {

                                        img = '<li class="mdui-shadow-5" onclick="location.href='+'\'{:url('secret/oper')}?id='+itemm.id+'&garden=1\'"><div class="ser-img" style="background:url(' + itemm.img + ');background-size:cover;background-position: center;"></div><div><p>' + itemm.content + '</p><span><i class="mdui-icon material-icons">&#xe853;</i>'+ itemm.nickname +'&nbsp;&nbsp;<i class="mdui-icon material-icons">&#xe192;</i>' + util.timeAgo(itemm.time * 1000, true) + '</span>';

                                    }

                                    lis.push(img);  //作为元素塞进数组lis中

                                });

                                next(lis.join(''), page < i.total_page);  //拼接成字符串

                            }

                        );

                    }

                });

            });

        </script>

    </div>