{include file="public/seo"}



<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">

    <div class="mdui-container-fluid" style="padding: 0;">

        <div class="mdui-toolbar mdui-color-theme mdui-shadow-5">

            <a href="{:url('Secret/index')}?id=2" class="mdui-btn mdui-btn-icon"><i

                    class="mdui-icon material-icons">&#xe5c4;</i></a>

            <span class="mdui-typo-title" style="margin:0;">来自{$res.nickname}的秘语</span>

        </div>

        {if $gar eq 0 || $gar eq 1 && $res.uid eq $Think.USER_ID}

        <div class="mdui-tab mdui-tab-top mdui-tab-full-width" mdui-tab>

            <a href="#ready" class="mdui-ripple">

                <i class="mdui-icon material-icons">&#xe8f4;</i>

                <label>查看</label>

              </a>

              <a href="#edit" class="mdui-ripple">

                <i class="mdui-icon material-icons">&#xe3c9;</i>

                <label>编辑</label>

              </a>

            </div>

            {/if}

            <div class="card" id="ready" style="margin-bottom: 4rem;">
                <div class="card-top">
                  <img src="{$res.headimg|default='__STATIC__/home/img/tx.png'}" alt="">
                  <div class="top-content">
                    <span>{$res.nickname}</span>
                    <p>{$res.time|date='Y-m-d H:i:m',###}</p>
                  </div>
            </div>
            <p class="card-content">{$res.content}</p>
            {if $res.img}
            <p class="card-img"><img src="{$res.img}" width="90%"></p>
            {/if}
            {if $gar eq 1 || $gar eq 0 && $res.garden eq 1}
            <div class="my-likec">
              {if $Think.USER_ID neq -1}
              <div class="my-dz {if $like eq 1} my-dl {/if}">
                <button id="like" class="mdui-btn mdui-btn-dense">
                  {if $like eq 1}
                  <i class="mdui-icon material-icons">&#xe87d;</i>
                  {else}
                  <i class="mdui-icon material-icons">&#xe87e;</i>
                  {/if}
                  喜欢
                </button>
              </div>
              {/if}
              <div class="my-readc">
                <div class="my-read"><i class="mdui-icon material-icons">&#xe417;</i><span>{$readynum|default="0"}</span></div>
                <div class="my-like"><i class="mdui-icon material-icons">&#xe87d;</i><span class="likenum">{$likenum|default="0"}</span></div>
              </div>
            </div>

            <p class="my-pltitle"><i class="mdui-icon material-icons">&#xe0c9;</i>评论</p>
            <div class="mdui-divider"></div>
            <div class="my-plcontent" id="plcontent">


            </div>
            {if $Think.USER_ID neq -1}
            <div class="my-editpl">

              <input type="text" name="content" id="editpl" placeholder="写下你的感想叭">

              <button class="mdui-color-theme" onclick="comment(<?php echo input('id') ?>)">发送</button>

            </div>
            {/if}
            {/if}

        </div>

        {if $gar eq 0 || $gar eq 1 && $res.uid eq $Think.USER_ID}

        <div class="card" id="edit">

                <form method="POST" id="secret">

                    <div class="mdui-textfield mdui-textfield-floating-label">

                        <label class="mdui-textfield-label">秘语</label>

                        <textarea class="mdui-textfield-input" name="content" id="info">{$res.content}</textarea>

                    </div>

                    <div class="mdui-textfield mdui-textfield-floating-label">

                        <a href="javascript:;" class="file">选择图片

                                <input type="file" id="imgInput">

                        </a>

                        <input type="hidden" name="img" class="img" value="{$res.img}">

                        <p style="margin-top: 5px;"><img id="img" src="{$res.img|default='__STATIC__/admin/images/emptyimg.png'}" height="100px"></p>

                    </div>

                    <div class="mdui-divider"></div>

                    <div class="mdui-textfield mdui-textfield-floating-label">

                        <label class="mdui-switch">分享到秘语花园：

                                

                                <label class="mdui-radio">

                                    <input type="radio" name="garden" value="0" id="garden" {if $res.garden eq 0}checked{/if}/>

                                    <i class="mdui-radio-icon"></i>

                                    否

                                </label>

                                <label class="mdui-radio">

                                    <input type="radio" name="garden" value="1" id="garden" {if $res.garden eq 1}checked{/if}/>

                                    <i class="mdui-radio-icon"></i>

                                    是

                                </label>

                        </label>

                    </div>

                    <input type="hidden" name="id" value="{$res.id}">

                </form>

                <div class="mdui-col" style="margin-bottom: 3rem;">

                   <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple" id="tj">提交</button>

                   <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple" style="margin-top: 10px;" mdui-dialog="{target: '#delt'}">删除</button>        

                </div>  

                <div class="mdui-dialog" id="delt">

                  <div class="mdui-dialog-title">提醒</div>

                  <div class="mdui-dialog-content">确定删除该条记录嘛？</div>

                  <div class="mdui-dialog-actions">

                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>

                    <button class="mdui-btn mdui-ripple" id="del" mdui-dialog-confirm>确定</button>

                  </div>

                </div>

        </div>

        {/if}

    </div>



    <script>

            function info(content){  //提示

                mdui.snackbar({

                    message: content,

                    buttonText: '确定'

                }); 

            }
            $(function(){
                $('.card-img img').zoomify();
            });
            $("#imgInput").change(function(){ //上传文件
                var file = this.files[0];
                size = file.size;
                type = file.type;
                url = window.URL.createObjectURL(file);
                if(type=='image/jpeg'||type=='image/png'||type=='image/jpg'||type=='image/gif'){
                  if(size > 2048*1024 ){
                    layer.msg('图片不能大于2M');    
                  }else{
                    var formData = new FormData();
                    formData.append("img", $(this).get(0).files[0]);
                    var index = layer.load(2, {shade: [0.1,'#000']});
                    $.ajax({
                        url:'{:url("secret/img")}',
                        type:'POST',
                        data:formData,
                        cache: false,
                        contentType: false,    //不可缺
                        processData: false,    //不可缺
                        success:function(res){
                            if(res.code==1){
                              info(res.info.msg);
                              $('.img').val(res.info.path);
                              $("#img").attr("src",url);   
                            //   $('img').width('100%');
                            //   $('img').height('auto');
                              layer.close(index);  
                            }else{
                              info(res.info.msg);  
                            }
                        },
                        error:function(){
                            info('上传错误');
                        }
                    });

                  } 
                }else{
                  layer.msg('请选择正确的图片格式');  
                }

            });



            $("#tj").click(function(){  //提交表单

                var content = $('#info').val();

                var img = $('.img').val();

                if(content.trim()==''){  

                    info('请填写完整'); 

                }else{

                  var data = $('#secret').serialize();

                 $.ajax({

                        url:'{:url("secret/get_edit")}',

                        type:'POST',

                        data:data,

                        dataType:'JSON',

                        success:function(res){

                            if(res.status==1){

                              info(res.info);

                              setTimeout(function(){

                                window.location.href=document.referrer;

                              },1000)

                              

                            }else{

                              info(res.info);

                            }

                            

                        }

                  });

                }

                

            })



            $("#del").click(function(){  //删除
                  var data = $('input[name="id"]')
                 $.ajax({
                        url:'{:url("secret/get_del")}',
                        type:'POST',
                        data:data,
                        dataType:'JSON',
                        success:function(res){
                            if(res.status==1){
                              info(res.info);
                              setTimeout(function(){
                                window.location.href=document.referrer;
                              },1000)
                            }else{
                              info(res.info);
                            }
                        }
                  });

                })

          $('#like').click(function(){
            var id  = <?php echo input('id') ?>;
            var num = 0;
            $.ajax({
              url: '{:url("secret/get_like")}',
              type: 'POST',
              data: {id:id},
              dataType: 'JSON',
              success: function (res) {
                if (res.status == 1) {
                  info(res.info);
                  if(res.code==1){
                    $('.my-dz').addClass('my-dl');
                    $('#like .mdui-icon').html('&#xe87d;');
                    num = parseInt($('.likenum').text())+1;
                  }else{
                    $('.my-dz').removeClass('my-dl');
                    $('#like .mdui-icon').html('&#xe87e;');
                    num = parseInt($('.likenum').text())-1;
                  }
                  $('.likenum').text(num);
                } else {
                  info(res.info);
                }
              }

            });

          })    



          function comment(id){ //提交评论
             var content = $('#editpl').val();
             var html = '';
             var rule = '^'
             if(content == ''){
              layer.msg('填写完整');
              return false;
             }
             $.ajax({
              url: '{:url("secret/get_pl")}',
              type: 'POST',
              data: {zid:id,content:content},
              dataType: 'JSON',
              success: function (res) {
                if (res.status == 1) {
                  layer.msg(res.info);
                  html = '';
                  html = '<div class="my-pllist" id="pl_'+res.pid+'">'
                  if(res.user.headimg == null){
                  html += '<div class="my-listimg"><img src="__STATIC__/home/img/tx.png" alt=""><span>'+res.user.nickname+'</span><i class="contor mdui-icon material-icons" onclick="contor('+res.pid+','+res.user.id+')">&#xe5d3;</i></div>'
                  }else{
                  html += '<div class="my-listimg"><img src="'+res.user.headimg+'" alt=""><span>'+res.user.nickname+'</span><i class="contor mdui-icon material-icons" onclick="contor('+res.pid+','+res.user.id+')">&#xe5d3;</i></div>'
                  }
                  html += '<div class="my-listcontent">'+content.replace(/\<script\>/gim, "&lt;script&gt;").replace(/\<\/script\>/gim, "&lt;/script&gt;").replace(/\</gim, "&ギ").replace(/\>/gim, "@ギ&")+'</div>'
                  html += '<div class="listfoot">'+res.time+'</div>'
                  html += '</div>'
                  $('.my-plcontent').prepend(html);
                  $('#editpl').val('');
                } else {
                  layer.msg(res.info);
                }
              }
            });
          } 

          function contor(id,uid){
             var uidd = '{$Think.USER_ID}';
              if(uid == uidd || uidd == '{$res.uid}'){
              weui.actionSheet([
              {
                  label: '删除',
                  onClick: function () {
                    console.log(id);
                    $.ajax({
                    url:'{:url("secret/get_delpl")}',
                    type:'POST',
                    data:{id:id},
                    dataType:'JSON',
                    success:function(res){
                        if(res.status==1){
                          $('#pl_'+id).remove();
                          info(res.info);
                        }else{
                          info(res.info);
                        }
                    }
                    });
                  }
              },
              
               {
                  label: '开发中...',
                  onClick: function () {
                      console.log('开发中');
                  }
              }, {
                  label: '其他',
                  onClick: function () {
                      console.log('其他');
                  }
              }
            ], [
              {
                  label: '取消',
                  onClick: function () {
                      console.log('取消');
                  }
              }
            ], {
              className: 'custom-classname',
              onClose: function(){
                  console.log('关闭');
              }
            });
            }else{
              weui.actionSheet([
               {
                  label: '开发中...',
                  onClick: function () {
                      console.log('开发中');
                  }
              }, {
                  label: '其他',
                  onClick: function () {
                      console.log('其他');
                  }
              }
            ], [
              {
                  label: '取消',
                  onClick: function () {
                      console.log('取消');
                  }
              }
            ], {
              className: 'custom-classname',
              onClose: function(){
                  console.log('关闭');
              }
            });
            }
            }


          layui.use(['flow', 'util', 'layer'], function () {

                var flow = layui.flow

                    , util = layui.util

              , layer = layui.layer;

              var id  = <?php echo input('id') ?>;

            //评论加载

            flow.load({

              elem: '#plcontent' //流加载容器

              , isAuto: true     //自动加载  为true的时候是自动加载

              , isLazyimg: true   //图片懒加载

              , done: function (page, next) { //加载下一页

                $.get(

                  "{:url('secret/get_comment')}",

                  { page: page ,id:id},

                  function (d) {

                    var lis = [];

                    layui.each(d.res, function (index, item) {  //遍历后台传过来的数据

                      var html = '';

                      html = '<div class="my-pllist" id="pl_'+item.id+'">'

                      if(item.headimg == null){

                      html += '<div class="my-listimg"><img src="__STATIC__/home/img/tx.png" alt=""><span>'+item.nickname+'</span><i class="contor mdui-icon material-icons" onclick="contor('+item.id+','+item.uid+')">&#xe5d3;</i></div>'

                      }else{

                      html += '<div class="my-listimg"><img src="'+item.headimg+'" alt=""><span>'+item.nickname+'</span><i class="contor mdui-icon material-icons" onclick="contor('+item.id+','+item.uid+')">&#xe5d3;</i></div>'

                      }

                      html += '<div class="my-listcontent">'+item.content+'</div>'

                      html += '<div class="listfoot">'+util.toDateString(item.time * 1000,'yyyy-MM-dd HH:mm:ss')+'</div>'

                      html += '</div>'

                      lis.push(html);  //作为元素塞进数组lis中

                    });

                    next(lis.join(''), page < d.total_page);  //拼接成字符串

                  }

                );

              }

            });
          }) 

          
        </script>

</body>