<div class="mdui-bottom-nav mdui-bottom-nav-text-auto mdui-bottom-nav-scroll-hide mdui-color-indigo" style="max-width: 750px;">
    <a href="{:url('index/index')}" class="mdui-ripple {if $action eq 'index'}mdui-bottom-nav-active{/if}">
        <i class="mdui-icon material-icons">home</i>
        <label>首页</label>
    </a>

    <a href="javascript:;" class="mdui-ripple">
        <i class="mdui-icon material-icons">music_note</i>
        <label>Music</label>
    </a>

    <a href="javascript:;" class="mdui-ripple">
        <i class="mdui-icon material-icons">book</i>
        <label>Books</label>
    </a>

    <a href="{:url('index/user')}" class="mdui-ripple {if $action eq 'user'}mdui-bottom-nav-active{/if}"">
        <i class="mdui-icon material-icons">&#xe8a6;</i>
        <label>个人</label>
    </a>

</div>



</body>

</html>