<body class="mdui-theme-primary-indigo mdui-theme-accent-pink  mdui-bottom-nav-fixed" style="max-width: 750px;margin: auto;">
    <div id="tabbar" class="mdui-container-fluid mdui-shadow-5" style="padding: 0;">
        <div class="mdui-toolbar mdui-color-theme mdui-shadow-5" style="max-width: 750px;">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}"><i class="mdui-icon material-icons">menu</i></a>
            <span class="mdui-typo-title">{$Think.config.SET.title}</span>
            <div class="mdui-toolbar-spacer"></div>
            <!-- <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a> -->
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#example-1'}"><i class="mdui-icon material-icons">more_vert</i></a>
            <ul class="mdui-menu" id="example-1">
                <li class="mdui-menu-item">
                    <a href="{:url('index/delcok')}" class="mdui-ripple">退出登录</a>
                </li>
            </ul>
        </div>
    </div>