{include file="public/seo"}
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
    <div class="mdui-container-fluid" style="padding: 0;">
       <div id="tabbar" class="mdui-toolbar mdui-color-theme mdui-shadow-5">
            <a href="javascript:history.go(-1);" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe5c4;</i></a>
            <span class="mdui-typo-title">{$app.title}</span>
       </div>
       <div id="card" class="card">
       <ul class="mdui-list">
            {volist name="list" id="vo"}
               <li class="mdui-list-item changdel">
               <div class="mdui-list-item-content" onclick="location.href='{:url('bookp/days',['id'=>$vo.id])}'">{$vo.title}</div>
               <i onclick="delAll({$vo.id})" class="mdui-list-item-icon mdui-icon material-icons">&#xe872;</i>
               <i class="mdui-list-item-icon mdui-icon material-icons">&#xe5cc;</i>
               </li>
               <li class="mdui-divider"></li>
            {/volist}
       </ul>
        </div>
        <button id="add" class="mdui-fab mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons">add</i></button>
    </div>
   
    <script>
     $("#add").click(function(){
     $.ajax({
        url:"{:url('bookp/add_ymonth')}",
        type:'POST',
        data:{},
        datatype:'json',
        success:function(data){
           if(data.status == 1){
             mdui.snackbar({
               message: data.info,
               buttonText: '确定'
             });
             setTimeout(function(){
               location.reload();
             },1000);
           }else{
             mdui.snackbar({
               message: data.info,
               buttonText: '确定'
             });
           }
        }
    })    
     })
   

     function delAll(id){
      $.ajax({
        url:"{:url('bookp/del_index')}",
        type:'POST',
        data:{id:id},
        datatype:'json',
        success:function(data){
           if(data.status == 1){
             mdui.snackbar({
               message: data.info,
               buttonText: '确定'
             });
             setTimeout(function(){
               location.reload();
             },1000);
           }else{
             mdui.snackbar({
               message: data.info,
               buttonText: '确定'
             });
           }
           return false;
        }
     })

    }


    </script>
</body>